doctype html
html(lang=config.language)
  head
    include _partial/head
  body
    #container(itemscope='',itemtype='http://schema.org/Blog')
      #banner
        include _partial/banner
      #content(itemprop='blogPosts',itemscope='',itemtype='http://schema.org/BlogPosting')
        block content
      nav#footer
        include _partial/footer
  include _partial/scripts
