doctype html
html(lang=config.language,itemscope,itemtype=theme.google_plus.item_type)
  head
    include _partial/head
  body
    #container
      #banner
        include _partial/banner
      #content
        block content
      nav#footer
        include _partial/footer
