mixin meta(article)
  h2.article-title(itemprop='name headline')
    include title
    if article.link
      a(href=article.link, target='_blank')
        +title(article)
    else
      a(href=url_for(article.path))
        +title(article)
  .article-date
    a(href=article.link)
      include post-meta
      +date(article.date)
