mixin date(date)
  time(datetime=date.format(config.schema_org.datetime_format),itemprop='datePublished')
  = date.format(config.date_format)

mixin extra(name, list)
  if list && list.length > 0
    = __(name) + ': '
    each item, index in list.toArray()
      if index > 0
        = ', '
      a(href=url_for(item.path))=item.name

