mixin date(date)
  = date.format(config.date_format)

mixin extra(name, list)
  = __(name) + ': '
  if list && list.length > 0
    each item, index in list.toArray()
      if index>0
        = ', '
      a(href=url_for(item.path))=item.name
  else
    = __('none')

